@import "@govtechmy/myds-style/full.css";
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Target the CommandK search input specifically */
input[aria-controls="search-input"][cmdk-input][role="combobox"] {
  width: 100px;
}

/* Remove default Leaflet DivIcon square background/border */
.sekolah-marker-icon, .parlimen-marker-icon, .negeri-marker-icon {
  background: transparent !important;
}

@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only printable area */
  .print-area,
  .print-area * {
    visibility: visible;
  }

  /* Exclude elements explicitly */
  .print-area .no-print {
    display: none !important;
  }

  /* Position printable content */
  .print-area {
    position: absolute;
    inset: 0;
    width: 100%;
  }

  /* Page margins and footer */
  @page {
    margin: 1cm 1cm 2cm 1cm;
    @top-center {
      content: "";
    }
    @bottom-left {
      content: "Sekolahku";
    }
    @bottom-right {
      content: "Mukasurat " counter(page) "/" counter(pages);
    }
  }
}