@import "@govtechmy/myds-style/full.css";
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Target the CommandK search input specifically */
input[aria-controls="search-input"][cmdk-input][role="combobox"] {
  width: 100px;
}

/* Remove default Leaflet DivIcon square background/border */
.sekolah-marker-icon,
.parlimen-marker-icon,
.negeri-marker-icon {
  background: transparent !important;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }
}
